body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
}


.circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
}

.eye1 {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 7%;
    top: 10%;
    animation: ring 2s linear infinite;
}
.eye2 {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 14%;
    top: 10%;
    animation: ring 2s linear infinite;
}
.eye3 {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 17%;
    top: 14%;
    animation: ring 2s linear infinite;
}
.eye4 {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 10%;
    top: 14%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: scaley(0);
    }

    100% {
        transform: scalex(1);
    }
}
